.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-paper);

  @media (max-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}


.loading {
  text-align: center;
  padding: 12px 0;
  color: var(--color-gray);
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} 